includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - tests/

    level: 5  # Уровень строгости от 0 до 9

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
